<section id="results-list">

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>


    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

    <div class="result">
        <div class="image">
            <img src="https://www.woopets.fr/assets/races/000/009/big-portrait/akita-americain.jpg" alt="Akita Américain">
        </div>
        <div class="description">
            <h3>Akita Américain</h3>
            <p><span>95%</span> d'affinité</p>
            <ul>
                <li>Critère 1</li>
                <li>Critère 2</li>
                <li>Critère 3</li>
            </ul>
            <span class="button">Plus d'infos</span>
        </div>
    </div>

</section>