<section id="results-list">

    {{!-- Breeds List --}}

    <div id="no-results">
        Votre recherche n'a pas été trouvée en mémoire. Merci de réessayer.
        <a href="/index.html"><span class="button">Nouvelle Recherche</span></a>
    </div>

</section>