<section id="search">
    <span>Results with your current criteria</span>
    <div id="choosen-criteria"></div>
    <div id="remaining-criteria"></div>
    <input type="button" value="Search" >
</section>