<section id="search">
    <div id="chosen-criteria"></div>
    <span>Choisissez vos critères par ordre d'importance en cliquant dessus</span>
    <div id="remaining-criteria"></div>
    <input type="button" value="Search">
</section>