<section id="search">
    <div id="choosen-criteria"></div>
    <span>Choisissez vos critères par ordre d'importance en cliquant dessus</span>
    <div id="remaining-criteria">
        <span class="criteria" data-criteria="behavior.affectionate">Affectueux</span>
        <span class="criteria" data-criteria="livingConditions.apartment">Adapté à la vie en appartement</span>
        <span class="criteria" data-criteria="livingConditions.loveCold">Aime le froid</span>
    </div>
    <input type="button" value="Search">
</section>