<section id="search">
    <div id="chosen-criteria"></div>
    <span>Cliquer sur vos choix de critères par ordre d'importance</span>
    <div id="remaining-criteria"></div>
    <span id="search-button" class="button">Rechercher</span>
</section>