// Global
$global-background: #ececec47;
$color: black;
$font-family: 'Roboto', sans-serif;;
$default-size: 18px;
$title1-size: 1.3rem;
$title2-size: 2.4rem;
$button-size: 1rem;


// Top Section
$top-color: white;