// Global
$color: black;
$font-family: 'Roboto';
$default-size: 14px;
$title1-size: 1.3rem;
$title2-size: 2.4rem;
$button-size: 1.1rem;

// Top Section
$top-background: black;
$top-color: white;
$top-text-size: 1.1rem;