<html>
    {{> partials/head}}
    
    <body>
        Hello world
        <div id="test"></div>

        <script src="/assets/js/polyfill.bundle.js"></script>
        <script src="/assets/js/breedog.bundle.js"></script>
    </body>
</html>