<html>
    {{> partials/head}}
    
    <body>
        {{> partials/header}}

        {{> partials/top-section
            title="The dog for you"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend, nunc non blandit molestie, justo velit lobortis nibh, ut lacinia eros diam ac elit."
        }}

        {{> partials/search-section}}

        {{> partials/scripts}}
    </body>
</html>