<html>
    {{> partials/head}}
    
    <body>
        {{> partials/header}}

        {{> partials/top-section
            title="+ de 200 races de chiens"
            text="Trouver votre futur chien en recherchant sur nos 200+ races de chiens en mémoire et nos 25+ critères disponibles ci-dessous"
        }}

        {{> partials/search-section}}

        {{> partials/scripts}}
    </body>
</html>