<html>
    {{> partials/head}}
    
    <body class="results">
        {{> partials/header}}

        {{> partials/top-section
            title="Votre futur chien est ici !"
            buttonText="Voir mes résultats"
        }}

        {{> partials/results-list}}

        {{> partials/scripts}}
    </body>
</html>