<html>
    {{> partials/head}}
    
    <body>
        {{> partials/header}}

        {{> partials/top-section
            title="Votre futur chien est ici !"
            buttonText="Voir mes résultats"
        }}

        {{> partials/search-section}}

        {{> partials/scripts}}
    </body>
</html>